.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--bg-color);
  flex-direction: row;
}

.editorContainer {
  width: 50%;
  height: 85%;
  margin-right: 20px;
  background: #1e1e1e;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--chat-bg);
  border-radius: var(--border-radius);
  height: 85%;
  width: 35%;
  box-shadow: var(--shadow);
  overflow: hidden;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }
  .container {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
