.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
  padding: 0 5%;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
}

.onlineIcon {
  margin-right: 5%;
  color: white;
  background: #25d366; /* WhatsApp green-ish */
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

h3 {
  color: white;
  margin: 0;
  padding: 0;
}

.closeButton {
  color: white;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  border: none;
}

.closeButton:hover {
  color: #ddd;
}
