.typingContainer {
  display: flex;
  align-items: center;
  margin-top: 3px;
  padding: 0 5%;
  justify-content: flex-start;
}

.typingAvatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.typingBubble {
  background: #F3F3F3;
  padding: 15px 20px;
  border-radius: 20px 20px 20px 0;
  display: flex;
  align-items: center;
  width: fit-content;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.typingDot {
  width: 8px;
  height: 8px;
  margin: 0 3px;
  background-color: #828282;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

.typingDot:nth-child(1) {
  animation-delay: -0.32s;
}

.typingDot:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
